div(ng-message='required') This field is absolutely required.
div(ng-message='minlength') Could you please elaborate.
div(ng-message='maxlength') Brevity is the soul of wit. Please be brief.
div(ng-message='email') A valid email address will suffice.
